.container__title {
  color: var(--white);
  font-size: var(--title);
  margin: 14px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3rem;
}

.title {
  min-width: max-content;
}



@media (max-width: 1024px) {
  .container__title {
    font-size: 2rem;
  }
}
