.filters__container {
  margin: 47px 40px 0px 0px;
  padding: 0.5rem;
}

.title {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4rem;
}

.flex__row__between,
.options__container__selected,
.options__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.min,
.max {
  color: var(--white);
  background-color: var(--playstationblue);
  padding: 0.3rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  border: none;
  width: 70px;
}

.range__container {
  width: 80%;
  margin: 0 auto;
}

.range {
  width: 100%;
}

/* .options__container__selected {
  background-color: var(--playstationblue);
  border-radius: .5rem;
  padding: .4rem .7rem;
  box-shadow: 0px 0px 15px #0072ce;
} */

.option {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
}

.options__container__selected:hover,
.options__container:hover {
 outline: 1px solid var(--playstationblue);
  
  
}

.check {
  text-align: center;
}












.flex__row__between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.name,
.expand {
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}

.spacer {
  margin: 3rem 0;
}