.background {
  height: auto;
  background-image: url(../public/spiderman-desktop.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container__pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.pages {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.page,
.page__active {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
}

.page {
  color: var(--gray);
}

.page__active {
  color: var(--white);
}

.page:hover {
  cursor: pointer;
}

.container__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30rem;
}

.container__specialGame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32rem;
}

.container__image {
  width: 30rem;
}

.price {
  background-color: var(--playstationblue);
  border-radius: 0.5rem;
  border: none;
  box-shadow: var(--box-shadow);
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  text-align: center;
}

/* @media (max-width: 1440px) {
  .background {
    background-size: 100%;
  }
}

@media (max-width: 1024px) {
  .background {
    background-size: 100% 100%;
  }
}

@media (max-width: 768px) {
  .background {
    background-size: 100% 100%;
  }
} */

@media (max-width: 425px) {
  .background {
    background-image: url(../public/spiderman-mobile.jpg);
    /* background-size: 100%; */
  }

  .pages {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  .container__specialGame {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .background {
    background-image: url(../public/spiderman-mobile.jpg);
    /* background-size: 100%; */
  }
}
