.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 350px));
  justify-content: center;
  grid-gap: 3rem;
  gap: 3rem;
}

.card {
  height: 240px;
  border-radius: 5px;
  background-position: 100%;
  background-size: cover;
  margin-bottom: 5rem;
}

.card__1,
.card__2,
.card__3 {
  background-size: 100% 100%;
}

.card__1 {
  /* background-image: url(/public/black-friday.png); */
  background-image: url("../public/black-friday.webp");
}
.card__2 {
  background-image: url("../public/bigsale.webp");
}
.card__3 {
  background-image: url("../public/codSALE.jpg");
}

@media (max-width: 1024px) {
  .card {
    height: 180px;
  }
}
